.Container{
  margin: 5px;
  height: 100vh;
}
.logo{
  width: 300px;
  height: 100px;
  align-items: center;
  margin: auto;
}



.Trope{
  width: 80%;
  height: auto;
}

.AwardAria{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.Award{
  display: grid;
  width: 80%;
  height: 300px;
}

.Award-right{
  display: block;
  width: 850px;
  height: 600px;
}

.Instrument{
  width: 70%;
  height: 60%;
  align-items: center;
  margin: auto;
}
.InstrumentAria  img{
display: block;
  margin: auto;
}

.footer{
  background-color: red;
  margin: auto;
  
}
p{
  text-align: center;
}
.online{
  font-size: 15px;
  text-align: center;
}
a:hover{
  cursor: pointer;
  color: blue;
}

a{
  color: #fff;
  margin: auto;
  text-decoration: none;
}



.footer{
  text-align: center;
  margin:auto;
  color:white;
}

.iconAria{
  display: flex;
  margin: auto;
  width: 80%;
  height:100px;
}
 
.icon{
 color: aliceblue;
  width: 30px;
  padding: 10px;
  margin: auto;
}

ul{
  margin: auto;
  
}

/* Responsive Phone */
@media (max-width: 920px) {


  .logo{
    width: 90%;
    height: auto;
    text-align: center;
    margin: auto;
  }

  .AwardAria{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  
  }

  .Trope{
    display: block;
    width: 280px;
    height: auto;
    margin: auto;
  }

  .Award-right{
    display: block;
    width: 100%;
    margin: 5px;
    height: auto;
  }

  .Award{
    display: block;
    width: 95%;
    height: auto;
    margin: auto;
  }

  .footer{
    margin:auto ;
    color:white;
  }
  
  .iconAria{
   display: inline;
   font-size: medium;
   
  }
   
  .icon{
   color: aliceblue;
    width: 30px;
    padding: 5px;
    
  }

}

