.App{
  align-items: center;
}
#logo{
  width: 300px;
  height: 100px;

}
.logo{
  align-items: center;
  margin: auto;
}

.Trope{
  width: 250px;
  height: 400px;
}

.AwardAria{
  display: flex;
  margin: auto;
}

.Award{
  width: 700px;
  height: 300px;
}

.Instrument{
  width: 800px;
  height: 300px;
  align-items: center;
  margin: auto;
}
.InstrumentAria  img{
  align-items: center;
}
